<p id="notice"><%= notice %></p>

<h1>Search Product ID</h1>
<%= form_for(:query) do |f| %>
  <%= f.text_field :product_id, :placeholder => "Product ID" %>
  
  <%= f.submit %>
<% end %>

<h1>Stores</h1>

<table>
  <thead>
    <tr>
			<th>Store ID</th>
			<th>Address</th>
			<th>City</th>
			<th>Phone</th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |s| %>
      <tr>
				<td><%= s.store_id %></td>
				<td><%= s.address %></td>
				<td><%= s.city %></td>
				<td><%= s.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>